     .control-buttons {
                display: flex;
                gap: 10px;
            }
            .comment-section {
                margin-top: 15px;
            }

            .search-section {
                background-color: #f2f2f2; 
                padding: 20px; 
                margin-top: 20px; 
                border-radius: 10px; 
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .search-box {
                position: relative;
                width: 100%;
                max-width: 500px; /* Largeur maximale du champ de recherche */
            }
            .search-input {
                width: 100%;
                padding: 10px 20px;
                padding-right: 40px; 
                font-size: 16px; 
                border: 1px solid #ccc;
                border-radius: 20px; 
                box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
            }
            .search-icon {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                color: #777;
            }

            .custom-header {
                background-color: #6c757d; /* Bootstrap gris foncé, mais plus clair que le noir */
                color: #ffffff; /* Texte blanc pour contraste */
            }

            .table th, .table td {
                max-width: 150px; /* Limite la largeur maximale de toutes les cellules */
                overflow: hidden; /* Empêche le débordement du contenu */
                text-overflow: ellipsis; /* Ajoute des points de suspension si le texte déborde */
                white-space: nowrap; /* Empêche le texte de passer à la ligne automatiquement */
            }

            .table th {
                word-break: break-all; /* Permet de casser les mots trop longs pour éviter le débordement */
            }

            .btn-group {
                width: 100%; /* Permet aux boutons de remplir l'espace horizontal disponible */
            }
            .btn-group .btn {
                width: 50%; /* Chaque bouton remplit la moitié de l'espace de la btn-group */
            }
            .btn-custom, .btn-custom-discard {
                white-space: normal; /* Permet au texte du bouton de passer à la ligne */
                word-break: break-word; /* Casse les mots si nécessaire pour éviter le débordement */
            }