<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- Page d'accueil par défaut -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- Configuration pour LoginPatientServlet -->
    <servlet>
        <servlet-name>LoginPatientServlet</servlet-name>
        <servlet-class>controller.login.LoginPatientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPatientServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <!-- Configuration pour LoginMembrePersonnelServlet -->
    <servlet>
        <servlet-name>LoginPersonnelServlet</servlet-name>
        <servlet-class>controller.login.LoginPersonnelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPersonnelServlet</servlet-name>
        <url-pattern>/login-pro</url-pattern>
    </servlet-mapping>
    <!-- Configuration pour LogoutServlet -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.login.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <!-- Configuration pour le dashboard patient -->
    <servlet>
        <servlet-name>PatientServlet</servlet-name>
        <servlet-class>controller.patient.PatientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatientServlet</servlet-name>
        <url-pattern>/patientServlet</url-pattern>
    </servlet-mapping>
    <!-- Configuration pour le dashboard medecin -->
    <servlet>
        <servlet-name>MedicalPersonnelServlet</servlet-name>
        <servlet-class>controller.patient.MedicalPersonnelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MedicalPersonnelServlet</servlet-name>
        <url-pattern>/medicalPersonnelServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IncidentServlet</servlet-name>
        <servlet-class>controller.medicalStaff.IncidentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IncidentServlet</servlet-name>
        <url-pattern>/incidentServlet</url-pattern>
    </servlet-mapping>
    <!-- Configuration pour le dashboard responsable de centre -->
    <servlet>
        <servlet-name>statistiqueServlet</servlet-name>
        <servlet-class>controller.responsables.statistiqueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>statistiqueServlet</servlet-name>
        <url-pattern>/statistique</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResponsableServlet</servlet-name>
        <servlet-class>controller.responsables.ResponsableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResponsableServlet</servlet-name>
        <url-pattern>/responsableServlet</url-pattern>
    </servlet-mapping>
    <!-- Servlet pour la prise de rendez depuis le dashboard patient  -->
    <servlet>
        <servlet-name>PriseRdvChoixCentreServlet</servlet-name>
        <servlet-class>controller.patient.PriseRdvChoixCentreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PriseRdvChoixCentreServlet</servlet-name>
        <url-pattern>/choixcentre</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PriseRdvChoixVaccin</servlet-name>
        <servlet-class>controller.patient.PriseRdvChoixVaccin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PriseRdvChoixVaccin</servlet-name>
        <url-pattern>/choixVaccin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PriseRdvChoixDate</servlet-name>
        <servlet-class>controller.patient.PriseRdvChoixDate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PriseRdvChoixDate</servlet-name>
        <url-pattern>/choixDate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PriseRdvChoixDateSecond</servlet-name>
        <servlet-class>controller.patient.PriseRdvChoixDateSecond</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PriseRdvChoixDateSecond</servlet-name>
        <url-pattern>/choixDatesecond</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PriseRdvDispatch</servlet-name>
        <servlet-class>controller.patient.PriseRdvDispatch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PriseRdvDispatch</servlet-name>
        <url-pattern>/dispatch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PriseRdvResume</servlet-name>
        <servlet-class>controller.patient.PriseRdvResume</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PriseRdvResume</servlet-name>
        <url-pattern>/resume</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PriseRdvResumeSecond</servlet-name>
        <servlet-class>controller.patient.PriseRdvResumeSecond</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PriseRdvResumeSecond</servlet-name>
        <url-pattern>/resumeSecond</url-pattern>
    </servlet-mapping>
    <!-- Servlet pour le personnel medical   -->
    <servlet>
        <servlet-name>AccEntreeServlet</servlet-name>
        <servlet-class>controller.medicalStaff.AccEntreeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccEntreeServlet</servlet-name>
        <url-pattern>/accEntreServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccSortieServlet</servlet-name>
        <servlet-class>controller.medicalStaff.AccSortieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccSortieServlet</servlet-name>
        <url-pattern>/accSortieServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MedecinServlet</servlet-name>
        <servlet-class>controller.medicalStaff.MedecinServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MedecinServlet</servlet-name>
        <url-pattern>/medecinServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConfirmPresencePatientServlet</servlet-name>
        <servlet-class>controller.medicalStaff.ConfirmPresencePatientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmPresencePatientServlet</servlet-name>
        <url-pattern>/confirmPresencePatientServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConfirmVaccinationPatientServlet</servlet-name>
        <servlet-class>controller.medicalStaff.ConfirmVaccinationPatientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmVaccinationPatientServlet</servlet-name>
        <url-pattern>/confirmVaccinationPatientServlet</url-pattern>
    </servlet-mapping>
</web-app>
